
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;

}


#quote-box {
  padding-top: 50px;
  height: 200px;
  background-color: white;
  
}

#quote-text {
  padding: 10px;
  margin-bottom: 50px;
  
}


.fa {
  font-size: 3em;
  
}

#new-quote {
  border-color: white;
}


footer {
  text-align: right;
}

#click-element {
  position: relative;
}

